.modal_short {
    position: absolute;
    background-color: #85a6cb;
    width: 210px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 25px;
    color: white;
    z-index: 2;
    border-radius: 4px;
}

.modal_short > svg {
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translate(0, -50%);
    width: 10px;
    height: 20px;
}

.modal_short > svg > polygon {
    fill: #85a6cb;
    stroke: #85a6cb;
}